/*Seccion nav*/
.navbar {
    text-align: center;
    color:#025157;
    font-weight: 500;
    /*tamaño de la fuente*/
}

.navbar ul {
    display:flex;
    justify-content: center;
}

.navbar-nav  li {
    list-style: none;
    padding-top:20px ;
    padding-left:6px;
    padding-right:6px;
}

.actions {
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.actions a {
    color: #67b54b;
    margin-right: 10px;
}

.actions button {
    color:white;
    background-color: #67b54b;
    padding:12px 14px;
    border-radius: 5px;
    border: 0;
    margin-left: 10px;
}
@media (max-width: 575px){

    h1{
        font-size: 30px;
    }
    .navbar-light .nav-item .nav-link {
        color: #025157;
      }
      
      .navbar-light .navbar-toggler {
        border-color: #025157;
      }
      
      .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(3, 81, 77)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      }
}

/*********************************************/
/*Seccion main*/
main {
  margin-top: 250px;
  text-align: center;
}

h1 {
    display: block;
    font-family: "Alegreya", serif;
    color: #025157;
    margin: 0.67em 0 0 0.67em;
}

h4 {
    display: block;
    font-family: "Slabo 27px", serif;
    font-size: 20px;
    color: #46484c;
    font-weight: 500;/*Peso de fuente*/
    margin:1.33em 0;
}

form {
    text-align: center;
    box-sizing: border-box;
    /*nos permite incluir el relleno y el borde en el
    ancho y alto total de un elemento.*/
}

input {
    border: 1px solid #b6b6b6;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    padding: 6px 20px;
    font-size:14px;
    height: 55px;
}

button {
    background-color: #025157;
    font-size:14px;
    color: #fff;
    border:none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin:-10px;
    cursor: pointer;
    padding: 6px 20px;
    height: 55px;
}
img {
    border-style: none;
    margin: 15px 0;
}
p {
    color:#b6b6b6;
    font-size: 0.55em;
    margin: 15px 0;
}

.imag img {
    width: 70%;
    vertical-align: middle;
    border-style: none;
}
h1, h4, p {
    text-align: center;
}

@media (max-width:575px){
    main{
        margin: 130 auto 0;
    }
    .capterra{
        width: 100%;
    }
}

/***************************************************/
/*Seccion flexbox*/
.flexbox {
    display:flex;
    justify-content:space-evenly;
    align-items: center;  padding-bottom:0 ;
    margin-bottom: -10px;
    width: 70%;
    margin: 30px auto;
}
.vdo {
    margin: 80px 0 0;
    padding: 0;
    flex: 1;
}
.vdo video{
    margin: 0;
    padding: 0;
}
.vdo figure img {
    width: 120px;
    margin-top: -30px;
}
.publish {
    padding: 0;
    margin:0 15px;
    flex: 1;
}
.publish h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#025157;
}
.publish p {
    color: #343434;
    line-height: 25px;
    text-align: justify;
}
.publish form p {
    color:#b6b6b6;
}
.publish * {
    text-align: left;
}

@media (max-width: 575px) {
    .flexbox {
        flex-direction: column;
        width: 90%;
        margin: 30px auto;
        padding: 0;
    }
    .vdo {
        padding-bottom:0 ;
        margin-bottom: 0;
    }
    .publish{
        margin: 0;
    }
    .vdo video {
        margin:0 auto;
        width: 100%;
    }
    .publish h3 {
        font-size: 25px;
        line-height: 25px;
    }
    .publish form div {
        height: 50px;
    }
    .publish form div input{
        width: 64%;
    }
}
/***********************************************/
/*Como usar Grid*/
.usarGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5%;
    background-color: #025157;
    padding: 70px 150px;
}
.bloque1 {
   display: flex;
   border-radius: 5px;
   background-color:#fff;
   margin: 0;
}
.texto {
    flex:1;
    margin:10px 0px 5px 30px;
    padding: 0;
}
.texto img {
    margin:0 170px 0 0;
}
.texto h4 {
    color:#454545;
    font-size: 0.9em;
    text-align: left;
    margin: 10px 15px 0 0;
}
.texto p {
    text-align: left;
    color:#b6b6b6;
    margin: 15px 15px 0 0;
    padding:0 ;
}
.texto a {
    color:#67b54b;
    font-size: 0.50em;
    text-align: left;
    text-decoration: none;
    margin:0;
    padding:0;
}
.img-grid {
    flex:.90;
    text-align: right;
    padding: 0 ;
    margin: 0;
}
.img-grid img {
   position: absolute;
   left: 474px;
   clip: rect(0px,150px,400px,0px);
}
.img-grid1 {
    flex:.90;
    text-align: right;
    padding: 0 ;
    margin: 0;
}
.img-grid1 img {
    position: absolute;
    left: 987px;
    clip: rect(0px,150px,450px,0);
 }
 .img-grid2 {
    flex:.90;
    text-align: right;
    padding: 0 ;
    margin: 0;
}
.img-grid2 img {
    position: absolute;
    left:473px;
    clip: rect(0px,150px,450px,0);
 }
 .img-grid3 {
    flex:.90;
    text-align: right;
    padding: 0 ;
    margin: 0;
}
.img-grid3 img {
    position: absolute;
    left:987px;
    clip: rect(0px,150px,450px,0);
}
@media (max-width: 575px) {
    .usarGrid{
        border:2px solid purple;
        grid-template-columns: 1fr;
        grid-template-rows:repeat(4, 1fr);
        text-align: left;
        padding:30px 20px 200px 20px;
        margin: 0;
    }
    .img-grid,
    .img-grid1,
    .img-grid2,
    .img-grid3{
        display: none;
    }
    .flexhija2 button{
        margin-left: 30px;
    }
}

/*************************************/
/*Segundo flex*/
.postwork {
    display:flex;
    background-color: #a1d683;
    padding-bottom: 50px;
}

.flexhija1 {
    flex:1;
    text-align: left;
    margin: 100px 100px 100px 200px;
    padding:0 50px 0 0;
 }
.flexhija1 h1 {
    font-size:1.7em;
    text-align: left;
    margin-left: 0;
}
.flexhija1 p {
    color: #343434;
    font-size: 0.58em;
    line-height: 26px;
    text-align: left;
    padding-right: 0;
}
.flexhija1 button {
    text-align: end;
    border-radius: 5px;
    border: none;
    padding:9px 14px 0 9px;
    margin: 5px 1px;
}
.flexhija1 img {
     width:450px;
     text-align: end;
     padding: 20px 0;
 }
.success-stories .carousel-indicators {
    position: initial;
}

.stories-carousel  {
    flex:1;
    padding:0;
    margin-top:50px;
 }
.carousel-inner {
    background-color:white;
    border-radius: 10px;
    padding:0;
    margin:0 ;
    width: 50%;
}

.card-media img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
}
.company img {
    width: 30%;
    margin: 0;
}

.card-body h4 {
    text-align: left;
    color:#025157;
    font-size: .7em;
    margin: 0;
}
.card-body h3 {
    font-size: .80em;
    margin-top:10px;
    text-align: left;
}
.results img {
    display: inline-block;
    width: 13%;
    margin-top: -30px;
}
.results p {
    display: inline-block;
    width: 70%;
}
.card-footer{
    border: none;
    background-color: white;
    margin: 0;
}

.card-footer button {
    width: 80%;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

.success-stories .stories-carousel .carousel {
    max-width: 370px;
}

.success-stories .stories-carousel .card {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}
.carousel-indicators {
    width: 50%;
    margin: 0;
    margin-top: 60px;
    text-align: left;
}

@media (max-width: 575px){
    .postwork {
        margin-top: 0;
        flex-direction: column;
        text-align:justify;
    }
    .flexhija1,
    .flexhija2 {
        padding: 0;
        margin: 0;
    }
    .flexhija1 h1 {
        font-size: 26px;
        padding-left: 10px;
    }
    .flexhija1 {
        padding: 0 15px;
        text-align:justify;
    }
    .flexhija1 button {
        margin-left: 15px;
    }
    .flexhija1 img {
        width:90%;
        margin: 10px 15px ;
        text-align: center;
    }
    .flexhija2 {
        margin: 20px;
        padding-bottom: 20px;
    }
    .flexhija2 img {
        width: 100%;
        height: 50%;
        margin-top: 0;
        border-top-left-radius: 10px;
        border-top-right-radius:10px;
    }
    .flexhija2 p {
        font-size: 20px;
        margin: 0;
    }
    .flexhija2 h5 {
        margin-top: 5px;
        margin-bottom: 0;
    }
    .flexhija2 button {
        margin-top: 0;
    }
}
/*****************************************/
/*Cuarto postword segundo grid del documento */

.textgrid {
  display:block ;
  margin-top:50px;
}
.textgrid h1 {
    font-size: 1.7em;
}
.textgrid p {
    font-size: .6em;
    color:#454545;
    line-height: 27px;
}
.textgrid button {
    border-radius:5px;
    margin-top:15px;
    margin-bottom: 0;
    width: 15%;
}
.seg-grid {
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 70px 150px 90px;
}
.grid-item1 {
    border: 1px solid lightgrey;
    border-radius: 5px;
    text-align: center;
}
.grid-item1 .img-png {
    padding:5px 200px  0 20px;
}

.grid-item1 h3 {
    color:#025157;
    font-size: .9em;
    text-align: center;
    margin-top: 10px;
}
.grid-item1 p {
    color:#343434;
    font-size: .5em;
    text-align: left;
    line-height: 22px;
    padding: 0 20px 0 20px;
    margin: 0;
}
.grid-item1 a {
    color:#67b54b;
    font-size:.55em ;
    text-decoration: none;
    margin: 20px 0;
}
@media (max-width: 575px) {
    .textgrid h1 {
        font-size: 27px;
    }
    .textgrid p {
        padding:0 25px;
    }
    .textgrid button {
        width: 70%;
        margin-bottom: 20px;
    }
    .seg-grid {
       grid-template-columns: 1fr;
       grid-template-rows: repeat(4,1fr);
       margin: 20px;
    }
    .grid-item1 {
        transform: rotate(90deg);
    }
}
/*********************************/
body {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    background-color: #fffbf7;
    text-align: center;
    margin: 0;
}

* {
    box-sizing: border-box;
}/*
@media (max-width: 575px){
    body{
        background-color: yellow;
    }
}*/
